/CDPractica1/build/
/CDPractica1/dist/
/CDPractica2/nbproject/private/
/CDPractica2Server/nbproject/private/
/CDPractica2Client/nbproject/private/
/CDPractica2Server/build/
/CDPractica2/CDPractica2Client/nbproject/private/
/CDPractica2/CDPractica2Server/build/
/CDPractica2/CDPractica2Server/nbproject/private/
/CDPractica2/CDPractica2Client/build/